*{
    padding: 0;
    margin: 0;
    z-index: 1;
    user-select: none;
}
#Btn-text{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    color: #2e59a7;
}
#back{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg,#17ead9,#6078ea);
    z-index: -10000;
}

#Btn{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 90%;
    left: 50%;
    width: 150px;
    height: 70px;
    background:linear-gradient(135deg,#ffffff,hsl(184, 100%, 75%));
    border-radius: 10px;
}

#timebck{
    position: absolute;
    transform: translate(-50%,-50%);
    background-color: rgba(255, 255, 255, 0.47);
    width: 400px;
    height: 400px;
    border-radius: 100%;
    top:40%;
    left: 50%;
    -webkit-backdrop-filter: blur(30,30);
    overflow:hidden;
}
#wave{
    position: absolute;
    width: 400px;
    height:20px;
    bottom: 0;
}
#wave>#wave-one{
    position: absolute;
    transform: translate(-50%,-50%);
    width: 450px;
    height: 450px;
    background-color: rgb(255,255,255);

    border-radius: 150px;
    left: 30%;
    animation: wave-o 5s infinite linear;
}
@keyframes wave-o {
    0%{
        transform: rotate(0deg);
    }100%{
             transform: rotate(360deg);
    }
}
#wave>#wave-tow{
    position: absolute;
    transform: translate(-50%,-50%);
    width: 450px;
    height: 450px;
    background-color: rgb(255,255,255);

    border-radius: 150px;
    left: -30%;
    animation: wave-t 5s infinite linear;
}

@keyframes wave-t {
    0%{
        transform: rotate(87deg);
    }100%{
         transform: rotate(360deg);
     }
}

#wave>#wave-three{
    position: absolute;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 400px;
    background-color: rgb(255,255,255);

    border-radius: 180px;
    /*left: -30%;*/
    animation: wave-th 5s infinite linear;
}

@keyframes wave-th {
    0%{
        transform: rotate(87deg);
    }100%{
         transform: rotate(-360deg);
     }
}

#date{
    position: absolute;
    transform: translate(-50%,-80%);
    left: 50%;
    top: 50%;
    font-size: 100px;
    color: #00b5ff;
    z-index: 99999;
}

#state{
    position: absolute;
    transform: translate(-50%,10%);
    left: 50%;
    top: 50%;
    font-size: 50px;
    color: #00b5ff;
    z-index: 99999;
}